* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.formContainer {
    width: 500px;
    border: 1px solid black;
    padding: 10px;
    justify-content: center;
    align-items: center;
    
}

.centerPanel {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

#weatherForm {
    display:flex;
    gap:10px;
    align-items: center;
}

.giphyImgDiv {
    border: 1px solid black;
    width: 500px;
}

.searchBtn {
    padding: 3px;
}